@* Display contact information of the business. *@
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rental Book Store<br />
    Boston, MA 02108<br />
    <abbr title="Phone">P:</abbr>
    617-737-7777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tam.thai@maine.edu">tam.thai@maine.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:tam.thai@maine.edu">tam.thai@maine.edu</a>
</address>